/*除掉網頁預設兩邊留白*/
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial Black;
}

/*LOGO 相關css*/
header{
    text-align: center;
}
#logo_img{
    width: 150px;
}

#above_bkground{
    background-color: black;
    padding-top: 6px;
}
#LOGO_img>a>img{
    width:120px;
    padding: 1% 0px 0px 0px;
}

/*LOGO旁邊icon*/
#icon_function{
    margin-left: 85%;
    margin-right: 10%;
    width: 75px;
    margin-top: -35px;
}
#icon_img{
    height: 40px;
    /* border: 1px solid black; */
    padding: 0px 15px 0px 15px;
}

#search_icon>img{
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*funtion_list*/
#funtion_list{
    margin-left:25%;
    margin-right: 30%; 
    padding-bottom: 5px;
    font-weight: 900;
    font-size: 20px;
}
#funtion>a{
    color: black;
    padding: 8px 10px ;
    text-decoration: none;
    /* border: 1px solid; 測試用 */
}

#funtion>a:hover{
    text-decoration:underline;
    text-decoration-thickness: 4px;
}

#funtion_type_space{
    padding: 0px 20px;
}


