/*除掉網頁預設兩邊留白*/
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family:  "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

/*LOGO 相關css*/
header{
    text-align: center;
}
#logo_img{
    width: 170px;
}

#above_bkground{
    background-color: black;
    padding-top: 6px;
}
#LOGO_img>a>img{
    width:150px;
    height: 40px;
    padding: 1% 0px 0px 0px;
}

/*LOGO旁邊icon*/
#icon_function{
    margin-right: 200px;
    margin-top: -30px;
    margin-left: 78%;
}
#icon_img{
    height: 14px;
    width: 17.5px;
    padding: 0px 8px 15px 8px;
    /* border: 1px solid black; */
}

#search_icon>img{
    height: 14px;
    width: 16.5px;
}

/*funtion_list*/
#funtion_list{
    margin:auto;
    padding: 16px 0px 22px 0px;
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
#funtion>a{
    color: black;
    padding: 8px 17px ;
    text-decoration: none;
    /* border: 1px solid; 測試用 */
}

#funtion>a:hover{
    text-decoration:underline;
    text-decoration-thickness: 4px;
}

#funtion_type_space{
    padding: 0px 20px;
}

/*最底下的詳細內容(footer)*/
footer{
    background-color: black;
}

