#contact_content{
    background-color: white;
    padding-top: 60px;
    padding-bottom: 100px;
}

#contact_cont{
    display: flex;
    flex-direction:row;
    /* width: 1350px; */
    width: 90%;
    margin: auto;
}
#contact_title{
    background-color: white;
    flex-grow : 1;
    width: 40%;
    padding:0px 20px ;
}
#right_content{
    flex-grow : 1;
    background-color: white;
    width: 50%;
    padding:0px 20px ;
}

/*左邊*/

#small_title{
    font-weight: 900;
    margin-bottom: 20px;
}

#question_title{
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
}
#question_title_content{
    color: gray;
    line-height: 28px;
}

/*----------------------------*/

/*右邊*/
#inputtype_phone{
    display: none;
}
#inputtype_computer{
    display: block;
}
#imfor_content{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 350px;
    padding: 40px;
}

#subject_cont,name_cont{
    width:47%;
}

#input_colume{
    margin: 5px 0px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(180, 180, 180);
    padding: 10px;
    width:97%;
    height:40px;
    font-size: 16px;
    border-radius: 5px;
}
/*酷炫特效 Start*/
#input_area {
    position: relative;
}
#input_area label {
    position: absolute;
    top: 35%;
    left: 12px;
    font-size: 16px;
    color:  rgb(100, 100, 100);
    transition: all 0.5s;
    pointer-events: none;
}
#input_area:focus-within label,
#input_colume:not(:placeholder-shown) + label {
    font-size: 15px;
    top: 0px;
    padding: 0px 4px;
    background-color: rgb(240, 240, 240);
}

#textarea_label{
    margin-top: -30px;
}

/*textarea 的單讀寫*/
#input_area:focus-within #textarea_label,
#input_colume:not(:placeholder-shown) + #textarea_label {
    font-size: 15px;
    top: 26px;
    padding: 5px 4px;
    background-color: rgb(240, 240, 240);
}
/*End*/

#error_text{
    color: red;
    font-size: 14px;
    margin-top: -8px;
    margin-left: 6px;
    display: none;
}

#send_button{
    color: white;
    background-color: black;
    padding: 10px 30px;
    margin-top: 15px ;
    width: 200px;
    height: 50px;
    font-size: 16px;
    overflow: auto;
}


@media screen  and (max-width:500px) {
    /*contact內容*/
    #contact_cont{
        flex-direction:column;
        width: 90%;
    }

    /*Contact Us 標題及說明*/
    #contact_title{
        width: 95%;
        margin: auto;
    }
    #small_title{
        font-size: 12px;
        margin-bottom: 25px;
    }
    
    #question_title{
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 25px;
    }
    #question_title_content{
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 25px;
    }

    /*輸入資料表格*/
    #inputtype_phone{
        display: block;
    }

    #inputtype_computer{
        display: none;
    }
    #right_content{
        width: 90%;
        padding:0px 20px;
    }

    /*輸入資料欄位*/
    #input_area{
        padding: 5px 18px;
    }
    #input_colume{
        margin: 2px 0px 0px 0px;
        padding: 3px 0px;
        width:260px;
        height:30px;
    }
    #input_area label {
        font-size: 14px;
        left: 26px;
    }
    #imfor_content{
        width: 100%;
        height: 300px;
        padding: 0px;
    }

    /*按鈕*/
    #send_button{
        padding: 10px 30px;
        margin: 5px 0px 15px 20px;
        width: 150px;
        height: 35px;
        font-size: 12px;
    }
    
}
