/*FAQ_tile*/
#FAQ_img{
    /* border: 1px solid black; */
    height: 580px;
    position:relative;
    z-index: 0;
}
#FAQ_img>img{
    width: 100%;
    height:100% ;
}


/*霧濛濛效果*/
#gray_bkground{
    background-color: gray;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 1;
    opacity:0.5;
}
/*圖片上文字*/
#img_text{
    width: 65%;
    color: white;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#img_text_title{
    text-align: center;
    font-weight: bolder;
    font-size: 54px;
    padding-bottom: 10px;
}
#img_text_moment{
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 18px;
    font-family:  "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    line-height: 28px;
}

@media screen  and (max-width:500px) {
    #FAQ_img{
        width: 100%;
        height:200px;
    }
    #img_text_title{
        font-size: 20px;
    }
    #img_text_moment{
        font-size: 6px;
    }
}

/*-------------------------*/

/*FAQ 內容部分*/
#FAQ_content{
    text-align: center;
    width: 1200px;
    margin: auto;
    background-color: white;
}

/*FAQ 內容_標題*/
#FAQ{
    background-color: white;
}
#FAQ_search_title{
    padding: 50px 0px 40px 0px;
    color: gray;
    font-size: 30px;
}

/*FAQ 內容 搜尋欄*/
#FAQ_search_inputtext{
    text-align: center;
}

#FAQ_search_inputtext>input{
    width: 1000px;
    height: 40px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    margin-bottom: 20px;
}

/*FAQ 內容 各項區域區域*/
#FAQ_detail_content{
    display: flex;
    flex-direction:row;
    padding-bottom: 50px;
}

#FAQ_detail_content_left{
    display: flex;
    flex-direction:column;
    text-align: left;
}
#FAQ_detail_content_right{
    display: flex;
    flex-direction:column;
    text-align: left;
}
#detail_content{
    border-radius: 8px;
    border: 0.5px solid rgb(220, 220, 220);
    width: 558px;
    margin: 25px 20px 0px 20px;
    box-shadow: 1px 1px 1px 1px rgb(200, 200, 200);
}
#detail_title{
    font-weight:600;
    color: rgb(83, 83, 83);
    margin:20px 0px 20px 25px;
}
#detail_num{
    color: rgb(197, 197, 197);
    font-family:微軟正黑體;
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 14px;
}
a>#detail_FAQ_content_first:hover{
    background-color: rgb(245, 245, 245);
}
a>#detail_FAQ_content:hover{
    background-color: rgb(245, 245, 245);
}
#detail_FAQ_content_first{
    border-radius: 0px 0px 8px 8px;
    border-top: 0.5px solid rgb(220, 220, 220);
    padding: 20px 0px 10px 25px;
    font-size: 15px;
    color: black;
}
#detail_FAQ_content{
    border-radius: 0px 0px 8px 8px;
    padding: 10px 0px 10px 25px;
    font-size: 15px;
    color: black;
}

/*see detail*/
#see_detail{
    color: black;
    padding: 10px 0px 10px 25px;
    border-top: 0.5px solid rgb(220, 220, 220);;
    font-size: 12px;
    font-weight:900;
    border-radius: 0px 0px 8px 8px;
}
a>#see_detail:hover{
background-color: rgb(245, 245, 245);
}

/*Contact Us*/
#Contact_us{
    text-align: center;
    padding-bottom: 30px;
    color: gray;
}
#Contact_us>p{
    color: black;
    font-weight: bold;
}
#Contact_us>a{
    color: rgb(84, 84, 202);
    font-weight: bolder;
}


/*RWD*/
@media screen  and (max-width:500px) {
    #FAQ_detail_content{
        flex-direction:column;
    }
    #detail_title{
        font-size: 12px;
        margin:15px 0px 10px 25px;
    }
    #detail_num{
        font-size: 10px;
    }
    #detail_content{
        width: 250px;
        margin-left:auto;
        margin-right:auto;
    }
    #FAQ_search_title{
        font-size: 16px;
        padding: 20px 0px 20px 0px;
    }
    #FAQ_search_inputtext>input{
        width: 80%;
        height: 20px;
        font-size: 10px;   
    }
    #FAQ_content{
        width: 100%;
    }
    #detail_FAQ_content_first{
        font-size: 12px;
    }
    #detail_FAQ_content{
        font-size: 12px;
    }
    #see_detail{
        font-size: 10px;
    }
    #Contact_us{
        font-size: 12px;
    }
    #img_text_title{
        font-size: 20px;
    }
    #img_text_moment{
        line-height: 8px;
        font-size: 6px;
    }
    #img_text{
        width: 80%;
    }

}

